html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

button,
input,
select {
    -webkit-appearance: none;
    outline: none;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

iframe {
    border: none;
}

ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

p {
    color: #485460;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.btn,
button,
.actionbg {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
}

.btn:hover,
button:hover {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}


/*--/wrapper--*/

.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

.wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/*--//wrapper--*/

.launching-61-gcl-vv-mian {
    background: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    height: 100vh;
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
}

.launching-61-gcl-vv-mian:before {
    content: "";
    /* background: rgba(0, 7, 14, 0.82); */
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.launching-61-gcl-vv-info {
    margin: 0 auto;
    text-align: center;
}

.launching-61-gcl-vv-top {
    display: grid;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.launching-61-gcl-vv-mian h6 {
    font-size: 20px;
    line-height: 25px;
    color: #1e272e;
    margin-bottom: 25px;
    text-align: left;
}

.launching-61-gcl-vv-mian h1 {
    font-size: 62px;
    line-height: 75px;
    color: #000;
    font-weight: 100;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.launching-61-gcl-vv-mian h2 {
    font-size: 32px;
    line-height: 75px;
    color: #000;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    /* text-transform: uppercase; */
}

.launching-61-gcl-vv-mian p {
    font-size: 16px;
    line-height: 30px;
    color: #000;
    /* font-weight: 100; */
}

.launching-61-gcl-vv-mian p>a>img {
    width: 20%;
}

.social-launching-icons a {
    background: transparent;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    display: inline-block;
    margin-right: 12px;
    border: 2px solid #000;
}

.social-launching-icons a span {
    color: #000;
    font-size: 12px;
    line-height: 30px;
}

.social-launching-icons a span:hover {
    color: #0fbcf9;
}

.social-launching-soon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 75%;
    bottom: 20px;
}

.social-launching-icons {
    text-align: right;
}

.copy-footer {
    letter-spacing: 1px;
}

.copy-footer a {
    color: #000;
    text-decoration: none
}

ul.counter-inner li {
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    text-transform: uppercase;
    color: #000;
    width: 20%;
    text-align: left;
}

ul.counter-inner li span {
    font-size: 50px;
    color: #000;
    font-weight: bold;
}

.launching-form {
    width: 79%;
    margin: 30px auto 0;
}

.launching-form input {
    color: #888;
    font-size: 14px;
    border: none;
    outline: none;
    display: block;
    padding: 0.7em 1em;
    background: #000;
    border-radius: 0px;
    width: 70%;
}

.launching-form button {
    color: #1e272e;
    background: #0fbcf9;
    border: none;
    padding: 0.7em 1em;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    display: block;
    border-radius: 0px;
}

.launching-form button:hover {
    background: #109fd2;
}

@media(max-width:1280px) {
    .launching-61-gcl-vv-top {
        display: grid;
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    .launching-61-gcl-vv-mian p {
        font-size: 15px;
    }
}

@media(max-width:1080px) {
    .social-launching-soon {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        bottom: 20px;
    }
    .launching-61-gcl-vv-mian p>a>img {
        width: 50%;
    }
}

@media(max-width:992px) {
    .social-launching-soon {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        text-align: center;
        position: static;
        margin-top: 40px;
    }
    .social-launching-icons,
    p.copy-footer {
        text-align: center;
    }
    .social-launching-icons {
        margin-top: 15px;
    }
    .launching-61-gcl-vv-mian p>a>img {
        width: 50%;
    }
}

@media(max-width:900px) {
    .launching-61-gcl-vv-mian h1 {
        font-size: 50px;
        line-height: 75px;
    }
    .launching-form {
        width: 86%;
        margin: 30px auto 0;
    }
    ul.counter-inner li {
        font-size: 12px;
        width: 22%;
    }
}

@media(max-width:769px) {
    .launching-61-gcl-vv-top {
        width: 90%;
    }
    .social-launching-icons {
        text-align: center;
        margin-top: 25px;
    }
    .launching-61-gcl-vv-mian h1 {
        font-size: 45px;
        line-height: 60px;
    }
}

@media(max-width:667px) {
    .launching-61-gcl-vv-top {
        width: 90%;
    }
    .social-launching-icons {
        text-align: center;
        margin-top: 25px;
    }
    .launching-61-gcl-vv-mian h1 {
        font-size: 45px;
        line-height: 60px;
    }
}

@media(max-width:600px) {
    .launching-61-gcl-vv-top {
        width: 100%;
    }
    .launching-61-gcl-vv-mian h1 {
        font-size: 40px;
        line-height: 54px;
    }
    ul.counter-inner li span {
        font-size: 35px;
    }
    .launching-form {
        width: 100%;
        margin: 30px auto 0;
    }
    .launching-form {
        width: 100%;
        margin: 30px auto 0;
        display: block;
    }
    .launching-form input {
        padding: 0.7em 1em;
        width: 100%;
    }
    .launching-form button {
        font-size: 16px;
        width: 100%;
        display: block;
        margin-top: 10px;
    }
}

@media(max-width:568px) {
    .launching-61-gcl-vv-mian h1 {
        font-size: 35px;
        line-height: 51px;
    }
    ul.counter-inner li {
        font-size: 10px;
        width: 24%;
    }
    ul.counter-inner li span {
        font-size: 25px;
    }
}

@media(max-width:420px) {
    .launching-61-gcl-vv-mian h1 {
        font-size: 30px;
        line-height: 52px;
    }
}

@media(max-width:384px) {}