body {
	padding: 0;
	margin: 0;

}
body a {
	color:red;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type:none;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/
body{
	background: url('../images/banner1.jpg') no-repeat;
    background-size: cover;
	min-height: 100vh;
}
.agile-login {

		padding-top: 60px;
}
.wrapper {
    width: 450px;
    margin: auto;
    text-align: center;
    padding: 3% 0px;
    background-color: #fff;
}
.tjsls-form {
    display: inline-block;
    width: 350px;
    margin: auto;
    text-align: left;
}
label, input[type="text"],input[type="submit"]{
    display: block;
	    font-family: 'Open Sans', sans-serif;
}
input[type="text"] {
    outline: 0;
    padding: 12px 15px;
    border: 1px solid #000;
    width: 100%;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.agile-login h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 2%;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.wrapper h2 {
	margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 26px;
    color:#13caca;
    font-weight: 600;
    letter-spacing: 2px;
}
a.pass {
    font-size: 15px;
	    color: #ef4242;
		font-family: 'Open Sans', sans-serif;
		    letter-spacing: 2px;
}
.tjsls-form a {
    display: block;
    text-align: right;
	    margin: 15px 0px;
}

label {
    margin: 20px 0px 8px 0px;
    font-size: 13px;
    color: #000;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
input[type="submit"] {
	margin: 20px auto;
    padding: 9px 60px;
    font-size: 18px;
    border: none;
    background-color:#13caca;
    color: #fff;
    text-transform: uppercase;
    outline: 0;
    border: 2px solid #13caca;
	cursor: pointer;
	    width: 100%;
	    letter-spacing: 1px;	
}
input[type="submit"]:hover {
    color: #13caca;
    background-color: transparent;
	border: 2px solid #13caca;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc6c6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc6c6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc6c6;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc6c6;
}

.agile-icons {
    padding: 3% 0px;
}
span.fa.fa-twitter:hover {
    background-color: #00b6f1;
    color: white;
}
span.fa.fa-facebook:hover {
    background-color: #3b5998;
    color: white;
}
span.fa.fa-pinterest-p:hover {
    background-color: #cb2027;
    color: white;
}
.agile-icons span.fa {
	font-size: 12px;
    margin: auto 10px;
    color:#000;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border:1px solid #000;
}
.copyright p {
    text-align: center;
        padding: 15px 0px;
    color: white;
    /* background-color: rgba(35, 30, 30, 0.43); */
    margin-top: 2%;
	    letter-spacing: 2px;
		font-size: 15px;
}
.copyright a {
    color: #00ffff;
}
.copyright a:hover {
    color: #fff;
}
/* responsive */
@media screen and (max-width: 1024px){
	
	.copyright p {
   margin-top: 0%;
}
}


@media screen and (max-width: 568px){
	.agile-login h1 {
		    font-size: 40px;
			
	}
}

@media screen and (max-width: 480px){
	body{
		background-position: center;
	}
	.agile-login {
    padding-top: 35px;
}
	.agile-login h1 {
    font-size: 35px;
    letter-spacing: 4px;
}
	.wrapper h2 {
    font-size: 26px;

}
.wrapper {
    width: 370px;
}
.copyright p {
	letter-spacing: 1px;
	
}
.tjsls-form {
    width: 300px;
}
}
@media screen and (max-width: 414px){
	.agile-login h1 {
    font-size: 30px;
	letter-spacing: 3px;
	    margin-bottom: 6%;
}
.wrapper {
    width: 320px;
}
.tjsls-form {
	    width: 270px;
}
.wrapper h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.copyright p {
    padding: 10px 0px;
    font-size: 14px;
    margin-top: 6%;
}
	
}
@media screen and (max-width: 375px){
	.agile-login h1 {
    font-size: 29px;
}
	.copyright p {
    font-size: 13px;

}
}
@media screen and (max-width: 320px){
.tjsls-form {
    width: 270px;
}
.agile-login h1 {
    font-size: 26px;
}
.wrapper {
    width: 280px;
}
.wrapper h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
input[type="submit"] {
    margin: 10px auto;
	    padding: 8px 60px;
}
.agile-login {
    padding-top: 30px;
}
label {
    margin: 15px 0px 5px 10px;
}
.copyright p {
   margin-top: 0%;
}
input[type="text"] {
    padding: 10px 15px;
}
.tjsls-form {
    width: 235px;
}
}
/* responsive */